<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
    </div>
    <div class="mdl-navigation">
          <a [routerLink]="['Portfolio']" href="" class="nav-link">Portfolio</a>
          <a [routerLink]="['About']" href="" class="nav-link">About</a>
          <button [routerLink]="['Add']" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section>
        <router-outlet></router-outlet>
    </section>
    <div id="menu-snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </main>
</div>
